.carousel-container2 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 500px;
  user-select: none;
}

@media screen and (min-width: 768px){
  .carousel-container2{
    width: 500px;
  }
}

.item {
  width: auto;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  text-align: start;
  top: 0;
  left: 0;
  transition: transform 0.3s ease;
  background-color: #FDF0E9;
  gap: 20px;
  color: #391400;
  padding: 10px 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.carousel-indicators2 {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  gap: 10px;
  position: absolute;
  bottom: 0;
  left: 50%;
  --tw-translate-x: -50% !important;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y)) !important;
}

.carousel-indicator2 {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: transparent;
  border: 1px gray solid ;
  margin: 0 5px;
  cursor: pointer;
}
.carousel-indicator2:hover {
  background-color: #ef6c589c;
  border: 0px;
}

.carousel-indicator2.active {
  background-color: #EF6D58;
  border: 0px;
}

.inner-card {
  display: flex;
  align-items: center;
  gap: 20px;
  width: fit-content;
}

.card-img{
  width: 80px;
  height: 80px;
  border-radius: 9999%;
}

.card-name{
  font-size: 1.5rem/* 24px */ !important;
  line-height: 2rem/* 32px */ !important;
}

